<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>Hey </p>
    <h2>Its <%= day %></h2>
    <h1>Its Time to <%= task %></h1>

</body>
</html>